<nav class = "navbar navbar-dark bg-primary">
  <a class = "navbar-brand" href="/">
  Albergue Peluchin
  </a>
</nav>
<!--<img src ="assets/img/logopeluchin.png" width ="150"/>-->
<div class ="container">
 <table class="table table-striped" 
>
  <thead class="black white-text">
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">Sexo</th>
    <th scope="col">Raza</th>
    <th scope="col">Edad (Anios)</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mascota of mascotaArray; index as i" (click)="RowSelected(mascota);">
    <td>{{ mascota.nombre}}</td>
    <td>{{ mascota.sexo}}</td>
    <td>{{ mascota.raza}}</td>
    <td>{{ mascota.edad}}</td>
  </tr>
  </tbody>
</table>
   <div class ="card mt-4">
    <div class ="card-body">
      <div class="class-title">
        Ingrese una nueva mascota
      </div><br>
    <div class ="form-group">
      <input type="text" placeholder="Ingrese el nombre de la mascota" [(ngModel)]="selectedMascota.nombre" class="form-control"><br>
      <select class="browser-default custom-select" placeholder="Sexo" [value]="selectedMascota.sexo">
        <option value="1">Macho</option>
        <option value="2">Hembra</option>
      </select><br>
       <br><input type="text" placeholder="Ingrese la raza" [(ngModel)]="selectedMascota.raza" class="form-control"><br>
       <input type="number" placeholder="Ingrese la edad (anios)" [(ngModel)]="selectedMascota.edad" class="form-control" min="1" max ="100"><br>
       <input type="file" (change)="cargandoImagen($event.target.files)" [(ngModel)]="selectedMascota.foto"/><br>
        <br><button (click) = "addOrEdit()" class = "btn btn-primary">
            Guardar Mascota
          </button>
           <button
          *ngIf="selectedMascota!=0"
          class="btn btn-danger"
          (click)="delete()">
            Delete
          </button>
    </div>
  </div>
  </div>
</div>